

body{
    text-align: center;
    color: white;
    background-color: rgb(67, 25, 25);
}

h2 {
    color:lightgray;
}

h1 img {
    height: 1em;
}

#guidelink {
    color:lightgrey;
    text-decoration: underline;
    font-size: 22px;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 5px 0px 0px 10px;
}

#guidelink:hover {
    color:grey
}

textarea{
    width: 50%;
    height: 10em;
    color: inherit;
    background-color: rgb(26, 24, 32, .25);
    border-radius: 15px;
    border-style: none;
    margin-bottom: 2em;
}

#keylegendcontainer{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 16em;
    height: 16em;
    margin-bottom: 2em;
}

.legend {
    position: absolute;
    border-radius: 10px;
    border-style: solid;
    background-color: rgb(26, 24, 32);
    border-color: rgb(44, 41, 54);
    border-width: 5px;
    font-size: 20px;

    width:  4em;
    height: 4em;
}

.legend > * {
    position: absolute;
}

#buttonscontainer {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 2in;
    height: 2in;
}

.keybuttoncontainer {
    position: absolute;
}

.button {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border-width: 1px;
    
    color: inherit;
    background-color: rgb(26, 24, 32);
    border-color: rgb(68, 62, 86);
}

.button:hover {
    background-color: rgb(44, 41, 54);
}

#bottomline {
    width: 100%;
    height: 1px;
    background-color: rgb(68, 62, 86);
    margin-top: .5in;
}